ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: #44aaaa;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

li {
    float: right;
    display: inline;
}

a {
    display: block;
    padding: 18px;
    color: gray;
    text-decoration: none;
}

#main {
    width: 100%;
    background-image: url(../images/spring.png);

}
#name {
    padding: 28px;
    height: 60px;
    font-size: 30px;
    display: inline;    
    color: white;
    background-color: #4aaaa5;
}

header {
    border-bottom: 2px solid lightgray;
    background-color: white;
}
#header-div {
    width: 960px;
    height: 60px;
    margin: auto;
}

section {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    color: gray;
}


#bio {
    padding-left: 140px;
    margin-right: 20px;

}

#bio2 {
    margin: 20px;

}

#bio3 {
    margin: 20px;

}

footer {
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    background-color: #666666;
    text-align: center;
    color: white;
    height: 60px;
    border-top: 5px solid #44aaaa;
    border-radius: 5px;
}

section.p {
    margin: 20px;
}

img {
    margin-left: 20px;
    border-radius: 5%;
    height: 120px;
    width: 100px;
    
}

#aboutme {
    margin: 20px;;
    border-bottom: 2px solid lightgray;
    width: 920px
    
}